venv 
read.txt
errors.json
offer_urls_0.json
offer_urls.json
offers_raw.json
offers_clean.csv
results.txt
outputs/
offers_analyzed.csv
tfidf_vectorizer.pkl
tfidf_matrix.npz
offers_analyzed.csv
assoc_rules.pkl
tfidf_vectorizer.pkl
tfidf_matrix.npz
skills.pkl
lr_model.pkl
nb_model.pkl
frequent_itemsets.pkl
clf_results.pkl
dashboard.py
